<div class="col-md-7 col-md-offset-3">
	<h1>Регистрация</h1>
	<form ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}"> 
		<div class="form-group"> 
			<label for="email">Email</label> 
			<input type="email" name="email" id="email" ng-model="registrationForm.email" required="required" class="form-control"> 
		</div> 
		<div class="form-group"> 
			<label for="password">Пароль</label> 
			<input type="password" name="password" id="password" ng-model="registrationForm.password" required="required" class="form-control"> 
		</div> 
		<div class="form-group"> 
			<label for="password_confirmation">Подтверждение пароля</label> 
			<input type="password" name="password_confirmation" id="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"> 
		</div> 
		<alerts />
		<button type="submit" class="btn btn-primary btn-lg">Регистрация</button> 
	</form>
</div>
<div class="ajax-loader" ng-if="waiting"></div>