<div>
	<div class="view-container col-md-10 col-sm-12 col-xs-12">
		<div ng-view class="view-frame animate-view"></div>
	</div>
	<div class="sidebar-right col-md-2 col-sm-12 col-xs-12">
		<hr class="hidden-md hidden-lg">
		<div class="visible-lg">
			<a href="/recipes/new" class="btn btn-default btn-lg add-recipe-btn">Добавить рецепт</a>
		</div>
		<div class="hidden-lg">
			<a href="/recipes/new" class="btn btn-default add-recipe-btn">Добавить рецепт</a>
		</div>
		<hr>
		<div ng-controller="TagsController">
			<div class="tagcloud-settings">
				<span>Облако тегов</span>
				<a href="/" ng-if="multiTagSearch" ng-click="clearTags($event)" class="btn btn-default btn-noborder btn-xs" title="Убрать все теги из поиска">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
				<button class="btn btn-default btn-noborder btn-xs" ng-click="openSettings()" title="Настройки">
					<span class="glyphicon glyphicon-cog"></span>
				</button>
			</div>
			<ul class="tagcloud">
				<% @tags.each do |t| %>
					<li data-weight="<%= t.weight %>">
						<a ng-click="addTag($event)" href="/browse?tag=<%= t.title %>"><%= t.title %></a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>