<div ng-app="receta">
  <div class="view-container col-md-10">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>
<div class="sidebar-right col-md-2">
	<hr class="hidden-md hidden-lg">
	<div class="visible-lg">
		<a href="/recipes/new" class="btn btn-default btn-lg">Добавить рецепт</a>
	</div>
	<div class="hidden-lg">
		<a href="/recipes/new" class="btn btn-default">Добавить рецепт</a>
	</div>
	<hr>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
</div>