<% content_for :title, "Добавить рецепт" %>

<div class="container-fluid top-buffer-md recipe-form" data-ng-app="receta" data-ng-controller="AddRecipeController">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3>Добавить рецепт</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-8">
				<%= form_tag recipes_path do %>
					<label for="recipe[title]">Название</label>
					<div class="form-group">
						<input type="text" class="form-control" name="recipe[title]" id="recipe[title]" data-ng-model="title">
					</div>
					<label for="recipe[text]">Текст</label>
					<div class="form-group">
						<textarea class="form-control" name="recipe[text]" id="recipe[text]" data-ng-model="text" data-delayed-change="textChanged()" rows="15"></textarea>
					</div>
					<label for="tags[]">Теги</label>
					<div class="form-group">
						<input type="text" class="form-control" name="tags[]" id="tags[]" data-ng-model="tags">
					</div>
					<input type="hidden" name="components[]">
					<button type="submit" name="submitbtn" class="btn btn-default" id="submitbtn" value="">Отправить</button>
				<% end %>
			</div>
			<div class="col-md-4">
				<div class="components-list" data-ng-if="text">
					<label>Ингредиенты</label> <sup class="help-badge" title="Удалите лишние или добавьте отсутствующие. Здесь должны быть основные компоненты, за которыми обычно нужно идти в магазин. Не пишите такие ингредиенты как соль, перец и т.д. - вряд ли кто-то будет искать что приготовить из соли :)">?</sup>
					<div>
						<div class="component-input-group">
							<input type="text" class="form-control" data-ng-model="newcmp" placeholder="пример: сыр">
							<button class="btn btn-default" data-ng-click="addComponent(newcmp)" title="Добавить"><span class="glyphicon glyphicon-plus"></span></button>
						</div>
					</div>
					<!-- <div class="tokentest"></div> -->
					<div data-ng-repeat="i in components">
						<div class="component-input-group">
							<input type="text" class="form-control" value="{{i}}">
							<button class="btn btn-default" data-ng-click="removeComponent(i)" title="Удалить"><span class="glyphicon glyphicon-remove"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>