<div class="col-md-12 admin-buttons" ng-if="user.admin">
  <button ng-if="!n.recipe.published" class="btn btn-default btn-noborder btn-noborder-success btn-xs" title="Опубликовать" ng-click="publish(true)">
    <span class="glyphicon glyphicon-ok"></span>
  </button>
  <button ng-if="n.recipe.published" class="btn btn-default btn-noborder btn-noborder-danger btn-xs" title="Снять с публикации" ng-click="publish(false)">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <button class="btn btn-default btn-noborder btn-xs" title="Редактировать" ng-click="edit()">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button class="btn btn-default btn-noborder btn-noborder-danger btn-xs" title="Удалить" ng-click="confirmDelete(index)">
    <span class="icon icon-bin"></span>
  </button>
</div>