.top-buffer-lg {
  margin-top: 50px;
}

.top-buffer-md {
    margin-top: 25px;
}

.bottom-buffer-md {
  margin-bottom: 25px;
}

.nopadding-left {
  padding-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
}

.btn-noborder {
  border: none !important;
}

.btn-noborder-success:hover {
  color: #47a447 !important;
}

.btn-noborder-danger:hover {
  color: #d2322d !important;
}