.auth-providers li:first-child {
  margin-left: -5px;
}

.auth-providers li {
  margin-left: 15px;
}
.auth-providers a {
  opacity: 0.5;
}

.auth-providers a:hover {
  opacity: 1;
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -o-transition: opacity 250ms linear;
  -ms-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.auth-providers img {
  max-width: 50px;
}