.recipe-descr {
  margin: 20px 0;
  cursor: pointer;
}

.recipe-descr.collapsed {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100px;
  color: #444;
}

.recipe-descr.collapsed:hover {
    color: #000;
}

.recipe-images img {
  max-height: 320px !important;
}