// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'header';

.container {
  height: 100%;
  box-shadow: 1px 0 10px #ccc;
}

.top-buffer-lg {
  margin-top: 50px;
}

.top-buffer-md {
    margin-top: 25px;
}

.nopadding-left {
    padding-left: 0 !important;
}

.nopadding-right {
    padding-right: 0 !important;
}

@import 'recipe';

@import 'recipe_tags';

@import 'recipe_form';

.sidebar-right {
  padding: 15px;
}

@media screen and(min-width: 992px) {
  .sidebar-right {
    border-left: 1px solid #eee;
      box-shadow: -3px 0px 10px -10px black;
  }
}

@import 'footer';
