.recipe-descr {
  margin: 20px 0;
  cursor: pointer;
}

.recipe-descr.collapsed {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100px;
  color: #444;
}

.recipe-descr.collapsed:hover {
    color: #000;
}

.recipe-images > li:first-child > a > img {
  width: 350px;
}

.recipe-images > li:not(:first-child) {
  display: block;
  margin: 5px;
}

.recipe-images > li:first-child {
  display: inline;
  float: left;
  margin: 0 5px;
}

.recipe-images a > img {
  width: 150px;
}