.recipe-form textarea {
    resize: vertical;
}

.component-input-group input {
  display: inline;
  width: 75%;
  margin: 2px;
}

.component-input-group button {
  margin: -3px 0 0 -2px;
}

.help-badge {
  width: 5px;
  height: 5px;
  font-weight: bold;
  color: green;
  text-shadow: 1px 1px #d5ffcc;
  cursor: pointer;
}

/* fix dropzone previews */
.dropzone .dz-preview .dz-details img, 
.dropzone-previews .dz-preview .dz-details img {
    position: absolute;
    top: 0;
    left: 0;
}

.dropzone .dz-preview, 
.dropzone-previews .dz-preview {
    margin-left: 0px !important;
}
/* end fix dropzone previews */

.alerts {
  margin: 15px 0;
}