<div class="col-md-7 col-md-offset-3">
	<h1>Авторизация</h1>
	<form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}"> 
		<div class="form-group"> 
			<label for="email">Email</label> 
			<input type="email" name="email" id="email" ng-model="loginForm.email" required="required" class="form-control"> 
		</div> 
		<div class="form-group"> 
			<label for="password">Пароль</label> 
			<input type="password" name="password" id="password" ng-model="loginForm.password" required="required" class="form-control"> 
		</div> 
		<alerts />
		<button type="submit" class="btn btn-primary btn-lg">Войти</button> 
		<a class="right-center" href="/users/reset-password">Забыли пароль?</a>
	</form>
	<div class="auth-providers top-buffer-md">
		<p class="top-buffer-md">...или войдите через:</p>
		<ul class="list-unstyled list-inline">
			<li class="row">
				<a href="#" ng-click="omniauthLogin('vkontakte')" title="Войти через ВКонтакте">
					<%= image_tag "vk-128.png", alt: "Войти через ВКонтакте" %>
				</a>
			</li>
			<li class="row">
				<a href="#" ng-click="omniauthLogin('facebook')" title="Войти через facebook">
					<%= image_tag "facebook-128.png", alt: "Войти через facebook" %>
				</a>
			</li>
			<li class="row">
				<a href="#" ng-click="omniauthLogin('twitter')" title="Войти через twitter">
					<%= image_tag "twitter-128.png", alt: "Войти через twitter" %>
				</a>
			</li>
			<li class="row">
				<a href="#" ng-click="omniauthLogin('github')" title="Войти через GitHub">
					<%= image_tag "github-128.png", alt: "Войти через GitHub" %>
				</a>
			</li>
		</ul>
	</div>
</div>