<!DOCTYPE html>
<html>
<head>
  <title>Recipes4you</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<header class="row header">
		<div class="col-sm-2">
			<a href="/"><img class="header-logo" src="/assets/recipe_deserts.png" alt="Recipes4you"></a>
		</div>
		<div class="col-sm-6">
			<h1>Find Recipes</h1>
		</div>
	</header>

	<div class="maincontent col-md-12">
		<%= yield %>
	</div>

	
	<footer id="footer">
		<hr>
		<a href="http://www.recipes4you.in.ua">Recipes4You.in.ua</a>
	</footer>
</div>

</body>
</html>