<!DOCTYPE html>
<html>
<head>
  <title>Recipes4you</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<header class="row header">
		<div class="col-md-2">
			<a href="/"><img class="header-logo" src="/assets/recipe_deserts.png"></a>
		</div>
		<div class="col-md-6">
			<h1 class="col-md-6">Find Recipes</h1>
		</div>
	</header>

	<%= yield %>

	
	<footer id="footer" role="banner">
		<hr>
		<a href="http://www.recipes4you.in.ua">Recipes4You.in.ua</a>
	</footer>
</div>

</body>
</html>


<!-- <header class="row header">
  
<input type="text" class="form-control"></div>
	</header> -->