<div class="modal-header">
  <p class="modal-title">
    <p class="h3">Настройка поиска по тегам</p>
  </p>
</div>
<div class="modal-body">
  <p>При клике по ссылке в облаке тегов искать:</p>
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="multiTagSearch" btn-radio="false" ng-click="setValue(false)">по одному тегу</label>
    <label class="btn btn-primary" ng-model="multiTagSearch" btn-radio="true" ng-click="setValue(true)">по нескольким тегам</label>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="ok()">OK</button>
</div>